//* Foglio di stile contenente tutte le variabili scss 

// Color variables
$brand-color: rgb(24, 131, 240);
$primary_color: black;
$secondary_color: rgb(48, 48, 48);
$neutral_color: white;

// Font variables
$big: 1.3rem;
$normal: 1rem;
$small: 0.8rem;
